dez/
.venv/
*.parquet
*.ipynb
.ipynb_checkpoints/
.python-version

# Google Cloud
*.json
service-account.json
google-cloud-sdk/
*.tar.gz

# Environment files (secrets)
.env
.env.*
.env_encoded

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform/keys/

# Data files (large)
taxi_zone_lookup.csv
